/*********************************
        DEFAULT COLORS
**********************************/

:root{
    --white: #fff;
    --black: #000;
    --gray: #5b5b5b;
    --lite: #ebebeb;
    --dark: #1d1e22;
    
    --yellow: #f5b409;
    --red: #de4432;
    --green: #9bd846;
    --blue: #095077;
    --orange: #ee712f;
    
    --primary: #ebeae7;
    --primary_dark: ;
    --primary_lite: ;
    
    --secondary: ;
    --secondary_dark: ;
    --secondary_lite: ;
}
